.blog-container-wrapper {
    display: grid;
    grid-template-columns: 8fr 1fr 3fr;

    margin-top: 50px;

    .blog {
        .title {
            font-variant: small-caps;
            text-transform: capitalize;

            border-bottom: 2px solid var(--medium-accent);
            padding-bottom: 0.25rem;
            margin-bottom: 1rem;
        }
    }

    .blog-list {
    }
}
