.navbar-wrapper {
    background-color: #fff;
    border-bottom: var(--light-accent) 1px solid;
    box-shadow: var(--light-accent) 0px 1px 5px 0px;

    .navbar-header {
        height: 70px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-navigate-wrapper {
        background-color: #eee;

        .navbar-navigate {
            display: inline-block;

            width: 400px;

            margin: 0 auto;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .link {
                all: unset;
                padding: 0.5rem 1.5rem;
                border-radius: 10px;

                &:hover {
                    background-color: var(--medium-accent);
                }
            }
        }
    }
}
