.navbar-wrapper {
    background-color: #fff;
    border-bottom: var(--light-accent) 1px solid;
    box-shadow: var(--light-accent) 0px 1px 5px 0px;

    .navbar-header {
        height: 70px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
