.search {
    position: relative;
    display: inline-block;

    .i {
        position: absolute;
        font-size: 14px;

        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--dark-accent);
    }

    .input {
        all: unset;

        border: var(--medium-accent) 1px solid;
        border-radius: 5px;

        height: 30px;
        width: 500px;

        padding-left: 30px;

        &::placeholder {
            font-style: italic;
            color: var(--medium-accent);
        }
    }
}
