.navbar-wrapper {
    background-color: #fff;
    border-bottom: var(--light-accent) 1px solid;
    box-shadow: var(--light-accent) 0px 1px 5px 0px;

    .navbar-header {
        height: 70px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-navigate-wrapper {
        background-color: #eee;

        .navbar-navigate {
            display: inline-block;

            width: 400px;

            margin: 0 auto;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .link {
                --x-padding: 1.5rem;

                all: unset;

                position: relative;

                padding: 0.5rem var(--x-padding);
                border-radius: 10px;

                &::after {
                    content: "";
                    display: block;

                    position: absolute;
                    bottom: 0px;
                    left: 50%;

                    background-color: var(--dark-accent);

                    width: 0%;
                    height: 4px;
                    transform: translateX(-50%);

                    transition: width 100ms ease-in-out;
                }

                &:not(.active) {
                    cursor: pointer;

                    &:hover::after {
                        width: calc(100% - var(--x-padding));
                    }
                }

                &.active::after {
                    width: calc(100% - var(--x-padding));
                }
            }
        }
    }
}
